/* EduventuresNavbar */
/* Navbar container */
.eduventures-navbar {
  width: 100%;
}

/* Inner flex container */
.eduventures-navbar-inner {
  display: flex;
  align-items: center;
  gap: 2rem; /* space between links */
  padding: 0.75rem 1rem 0 1rem; /* top-bottom, left-right */
}

/* Links */
.eduventures-link {
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}

.eduventures-link:hover {
  color: #d1d5db; /* light gray hover */
}

.active-link {
  border-bottom: 4px solid white;
  padding-bottom: 2px;
}